<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>AleKino!</title>
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-item">
            <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
        </li>
    </ul>
</div>
</body>
</html>